.my_footer{   
    height:30px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border: 1px solid transparent;
    border-color:#e7e7e7;
    background-color:#f8f8f8;
    color:#777;
}
